src/main/resources/data/schemas/Esq_Factura.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/fact-fact/Esq_Factura" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/fact-fact/Esq_Factura">  
  <!-- helper XSD definitions for list types -->  
  <xs:complexType name="content"> 
    <xs:sequence> 
      <xs:element name="encoding" type="xs:string"/>  
      <xs:element name="mime-type" type="xs:string"/>  
      <xs:element name="data" type="xs:base64Binary"/>  
      <xs:element name="name" type="xs:string"/>  
      <xs:element name="length" type="xs:long"/>  
      <xs:element name="digest" type="xs:string"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:simpleType name="stringList"> 
    <xs:list itemType="xs:string"/> 
  </xs:simpleType>  
  <xs:simpleType name="doubleList"> 
    <xs:list itemType="xs:double"/> 
  </xs:simpleType>  
  <xs:simpleType name="dateList"> 
    <xs:list itemType="xs:date"/> 
  </xs:simpleType>  
  <xs:simpleType name="integerList"> 
    <xs:list itemType="xs:integer"/> 
  </xs:simpleType>  
  <xs:simpleType name="booleanList"> 
    <xs:list itemType="xs:boolean"/> 
  </xs:simpleType>  
  <xs:complexType name="blobList"> 
    <xs:sequence> 
      <xs:element name="item" type="nxs:content" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="Arch_XML" type="nxs:content"/>
  <xs:element name="FileHeader_SchemaVersion" type="xs:string"/>
  <xs:element name="FileHeader_Modality" type="xs:string"/>
  <xs:element name="FileHeader_InvoiceIssuerType" type="xs:string"/>
  <xs:element name="FileHeader_Batch_BatchIdentifier" type="xs:string"/>
  <xs:element name="FileHeader_Batch_InvoicesCount" type="xs:string"/>
  <xs:element name="FileHeader_Batch_TotalInvoicesAmount_TotalAmount" type="xs:string"/>
  <xs:element name="FileHeader_Batch_TotalOutstandingAmount_TotalAmount" type="xs:string"/>
  <xs:element name="FileHeader_Batch_TotalExecutableAmount_TotalAmount" type="xs:string"/>
  <xs:element name="FileHeader_Batch_InvoiceCurrencyCode" type="xs:string"/>
  <xs:element name="Parties_SellerParty_TaxIdentification_PersonTypeCode" type="xs:string"/>
  <xs:element name="Parties_SellerParty_TaxIdentification_ResidenceTypeCode" type="xs:string"/>
  <xs:element name="Parties_SellerParty_TaxIdentification_TaxIdentificationNumber" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_CorporateName" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_AddressInSpain_Address" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_AddressInSpain_PostCode" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_AddressInSpain_Town" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_AddressInSpain_Province" type="xs:string"/>
  <xs:element name="Parties_SellerParty_LegalEntity_AddressInSpain_CountryCode" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_TaxIdentification_PersonTypeCode" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_TaxIdentification_ResidenceTypeCode" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_TaxIdentification_TaxIdentificationNumber" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_CorporateName" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_AddressInSpain_Address" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_AddressInSpain_PostCode" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_AddressInSpain_Town" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_AddressInSpain_Province" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_LegalEntity_AddressInSpain_CountryCode" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceHeader_InvoiceNumber" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceHeader_InvoiceDocumentType" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceHeader_InvoiceClass" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceIssueData_IssueDate" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceIssueData_InvoiceCurrencyCode" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceIssueData_TaxCurrencyCode" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceIssueData_LanguageName" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxTypeCode7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxRate7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxableBase_TotalAmount7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_TaxesOutputs_Tax_TaxAmount_TotalAmount7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalGrossAmount" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalGrossAmountBeforeTaxes" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalTaxOutputs" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalTaxesWithheld" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_InvoiceTotal" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalOutstandingAmount" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalExecutableAmount" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate0" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate1" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate2" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate3" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate4" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate5" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate6" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerContractReference7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_IssuerTransactionReference7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_ItemDescription7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_Quantity7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitOfMeasure7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_UnitPriceWithoutTax7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TotalCost7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_GrossAmount7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxTypeCode7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxRate7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxableBase_TotalAmount7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TaxesOutputs_Tax_TaxAmount_TotalAmount7" type="xs:string"/>
  <xs:element name="Invoices_Invoice_Items_InvoiceLine_TransactionDate7" type="xs:string"/>
  <xs:element name="Parties_SellerParty_Individual_Name" type="xs:string"/>
  <xs:element name="Parties_SellerParty_Individual_FirstSurname" type="xs:string"/>
  <xs:element name="Parties_SellerParty_Individual_SecondSurname" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_Individual_Name" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_Individual_FirstSurname" type="xs:string"/>
  <xs:element name="Parties_BuyerParty_Individual_SecondSurname" type="xs:string"/>
  <xs:element name="Invoices_Invoice_PaymentDetails_Installment_InstallmentDueDate" type="xs:string"/>
  <xs:element name="Invoices_Invoice_PaymentDetails_Installment_InstallmentAmount" type="xs:string"/>
  <xs:element name="Invoices_Invoice_PaymentDetails_Installment_PaymentMeans" type="xs:string"/>
  <xs:element name="Invoices_Invoice_PaymentDetails_Installment_AccountToBeCredited_IBAN" type="xs:string"/>
  <xs:element name="Invoices_Invoice_AdditionalData_InvoiceAdditionalInformation" type="xs:string"/>
  <xs:element name="Invoices_Invoice_PaymentDetails_Installment_CollectionAdditionalInformation" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceHeader_InvoiceSeriesCode" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalGeneralDiscounts" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalGeneralSurcharges" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_GeneralDiscounts_Discount_DiscountReason" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_GeneralDiscounts_Discount_DiscountRate" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_GeneralDiscounts_Discount_DiscountAmount" type="xs:string"/>
  <xs:element name="Invoices_Invoice_InvoiceTotals_TotalReimbursableExpenses" type="xs:string"/>
</xs:schema>
